body {
  font-family: font-family: 'Georgia', Times, Times New Roman, serif;
  width: 100%;
  height: 700px;
  background-image:url(/Users/MCP/du/homework/Basic-Portfolio/assets/images/paper_background.jpg);
  background-size: cover;
}
*{
  padding: 0px;
  margin: 0px;
}

#navbar ul {
  width: 100%;
  height: 90px;
  background: white;
  line-height: 85px;
  color: darkgray;
  border-bottom-style: solid;
  border-bottom-color: darkgray;
}

#navbar ul a {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: darkgray;
  /*padding-left: 0px;*/
  /*padding-right: 0px;*/
}

#navbar ul li {
  list-style-type: none;
  display: inline-block;
  float: right;
  margin-right: 150px;
}

#navbar li:not(:first-child):after {
  content: " | ";
  opacity: 0.3;
  word-spacing: 0em;
}

/*li a {
  padding: 10px, 5px;
}*/

#menu li {
  margin-top: 0px;
}

h1 {
  text-align: center;
}

#navbar h1 {
  width: 150px;
  color: white;
  height: 90px;
  background-color: #4eaaa4;
  float: left;
  margin-left: 150px;
}

#feature, .about_me {

}
