html,body {
  overflow:hidden;
}

.container {
  width: 100%;
  height: 960px;
  background-image:url(../../assets/images/paper_background.jpg);
  background-size: cover;
}

#navbar {
  position: relative;
  height: 90px;
  top: 0px;
  background: #ffffff;
  border-bottom-style: solid;
  border-bottom-color: #dddddd;
  border-width: medium;
}

#navbar ul {
  margin-right: 10%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  overflow: hidden;
}

.menu {
  position: relative;
  top: 25%;
}

.menu a {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 20px;
  color: darkgray;
}

.icon li a img {
  background: red;
  height: 50%;
  width: 50%;
}

li {
  float: right;
}

li a {
  display: block;
  padding: 8px;
  background: #ffffff;
  text-decoration: none;
  margin: 0 auto;
  /*padding: 0px;*/
  /*height: 25%;*/
  /*width: 25%;*/
  margin-left: 0px;
  margin-right: 0px;
}

li h3 {
  display: block;
  padding: 8px;
  background: #ffffff;
  font-size: 20px;
  color: gray;
  opacity: 0.1;
}

#navbar ul h3 {
  color: #cccccc;
  font-size: 25px;
  opacity: 0.3
}

.name {
  position: absolute;
  height: 50px;
  width: 200px;
  margin-left: 10%;
  background: #4eaaa4;
  text-align: center;
  color: #ffffff;
  font-size: 35px;
  padding: 20px;
}

h1 {
  font-family: font-family: 'Georgia', Times, Times New Roman, serif;
  margin-top: 10px;
}

.left_box {
  position: relative;
  width: 650px;
  background: #ffffff;
  border: solid;
  border-width: thin;
  border-color: darkgray;
  margin-top: 40px;
  margin-left: 10%;
  padding: 10px 10px 10px 10px;
}

h2 {
  color: #4eaaa4;
  font-size: 35px;
  padding: 10px;
}

.right_box h2 {
  font-size: 25px;
}

h3 {
  color: lightgray;
  font-weight: 800;
  padding: 10px;
}

img.resize {
  height: 25%;
  width: 25%;
  float: left;
  padding-right: 2%;
  padding-bottom: 1%;
  background-size: cover;
}

.contact_left_box {
  position: relative;
  width: 650px;
  background: #ffffff;
  border: solid;
  border-width: thin;
  border-color: darkgray;
  margin-top: 40px;
  margin-left: 10%;
  padding: 15px 20px;
}

.contact_left_box h1 form {
  background: #ffffff;
  margin-top: 10px;
  margin-left: 5%;
  padding: 10px 1px;
}

.contact_left_box input {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-right: 80%;
}

.contact_left_box textarea {
  padding-right: 29%;
  padding-bottom: 25%;
  padding-left: 50%;
}

.contact_left_box .message {
  font-size: 18px;
  background: #ffffff;
  margin: 0 auto;
  padding: 0px;
  width: 100%;
  height: 177px;
}

.contact_left_box h1 {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: darkgray;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.contact_left_box h2 {
  margin-top: 18px;
}

.contact_left_box h3 {
  padding: 0px;
}

.submit {
  background-color: #4aaaa5;
  font-size: 14px;
  padding: 8px 15px;
  border-radius: 2px;
  color: white;
  margin-top: 8px;
  margin-bottom: 10px;
}

.right_box {
  position: fixed;
  width: 270px;
  left: 60%;
  /*text-align: center;*/
  background: #ffffff;
  border: solid;
  border-width: thin;
  border-color: darkgray;
  margin-top: -32.65%;
  margin-right: 10%;
  padding: 10px;
}

.right_box h2 {
  text-align: center;
}

.icons li a{
  /*padding: 0;*/
}

p {
  padding: 10px;
  color:   #777777;
}

p.para_tweak {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.8;
}

.icons img{
  width: 50%;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

#footer {
  position: fixed;
  width: 97.75%;
  bottom: 0;
  right: 0px;
  left: 0;
  padding: 1rem;
  font-size: 12px;
  text-align: center;
  color: #777777;
  line-height: 60px;
  border-top-style: solid;
  border-width: 10px;
  border-top-color: #4aaaa4;
  background-color: #666666;
}
